/* File CSS di dalam ../../css/about/about.css */

/* Gaya untuk memastikan konten berada di tengah layar */
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Mengisi tinggi seluruh viewport */
    margin: 0;
    background: url('../../images/team2.JPG') center/cover no-repeat, rgba(0, 128, 0, 0.5); /* Menambahkan double background dengan gambar dan warna hijau transparan */
    background-blend-mode: multiply; /* Menggabungkan gambar dan warna latar belakang */
    background-size: cover;
}

.about {
    text-align: center;
}

.box {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 800px; /* Sesuaikan dengan lebar maksimum yang diinginkan */
    width: 100%;
    padding: 20px;
}

/* Gaya teks dalam kartu */
.card p {
    max-width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    background: rgba(255, 255, 255, 0.163);
    backdrop-filter: blur(10px);
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.308);
    border-bottom: 1px solid rgba(255, 255, 255, 0.362);
    border-right: 1px solid rgba(255, 255, 255, 0.305);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: transform 1s ease 0.3s;
}

/* File CSS di dalam ../../css/about/about.css */

/* Gaya tombol "Back" */
.back-button {
    background-color: #008000; /* Warna hijau */
    color: white; /* Warna teks putih */
    padding: 15px 30px; /* Padding agar tombol terlihat lebih besar */
    border: none; /* Menghapus border */
    border-radius: 10px; /* Sudut sudut tombol */
    cursor: pointer; /* Kursor pointer saat mengarahkan ke tombol */
    font-size: 18px; /* Ukuran font */
    transition: background-color 0.3s ease; /* Efek transisi saat tombol berubah warna latar belakang */
}

/* Gaya tombol "Back" saat dihover */
.back-button:hover {
    background-color: #006400; /* Warna hijau yang sedikit lebih gelap saat dihover */
}

/* Media queries untuk layar berukuran kecil (contoh: smartphone) */
@media (max-width: 768px) {
    .content {
        padding: 10px; /* Mengurangi padding untuk tampilan layar kecil */
    }

    .card p {
        padding: 10px; /* Mengurangi padding untuk tampilan layar kecil */
    }
}
